In [1]:
import pandas as pd
import numpy as np

### Split data

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv("train_AgeFilled.csv")
data = data.iloc[:,1:]
trimmed_data = data.drop(labels=["Name","Ticket","Cabin","PassengerId"],axis=1)

In [4]:
train_data,test_data = train_test_split(trimmed_data,test_size=0.3)

In [5]:
train_y = np.array(train_data["Survived"])
test_y = np.array(test_data["Survived"])

In [6]:
train_X = pd.get_dummies(train_data.drop(labels=["Survived"],axis=1))
test_X = pd.get_dummies(test_data.drop(labels=["Survived"],axis=1))

In [7]:
train_X.head()

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
455,3,19.0,0,0,14.500,0,1,0,0,1
583,2,23.0,0,0,13.000,0,1,0,0,1
144,3,36.0,0,0,0.000,0,1,0,0,1
717,3,43.0,0,0,7.225,0,1,1,0,0
277,2,36.0,0,0,13.000,0,1,0,0,1

### Scale data

In [8]:
from sklearn.preprocessing import StandardScaler

In [34]:
### Scale the data
def scale_data(data):
    age_array = np.array(data)[:,np.newaxis]
    age_scaler = StandardScaler().fit(age_array)
    scaled_age = age_scaler.transform(age_array)[:,0]
    return scaled_age

In [35]:
train_X["Age"] = scale_data(train_X["Age"])

In [37]:
train_X["Fare"] = scale_data(train_X["Fare"])

In [42]:
train_X.head()

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
455,3,-0.798703,0,0,-0.344551,0,1,0,0,1
583,2,-0.518787,0,0,-0.375453,0,1,0,0,1
144,3,0.390940,0,0,-0.643268,0,1,0,0,1
717,3,0.880792,0,0,-0.494425,0,1,1,0,0
277,2,0.390940,0,0,-0.375453,0,1,0,0,1

### Build models

In [40]:
#Since this is a classification task, we use logistic regression, FDA, naive bayes, classification tree, and SVM as our models

from sklearn.linear_model import LogisticRegression
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC