In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

### Split data

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv("./Age processing/train_AgeFilled.csv")
data.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Mr,Mrs,Miss,Master,Dr,Other
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0,0,0,0,0
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,0,0,0,0,0
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,0,0,0,0,0
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,0,0,0,0,0
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,0,0,0,0,0

In [4]:
# def data_preproessing(data):
#     data.drop(labels=["Unnamed: 0"],axis=1)
#     trimmed_data = data.drop(labels=["Name","Ticket","Cabin","PassengerId","Unnamed: 0"],axis=1)
#     return trimmed_data

In [5]:
# trimmed_data = data_preproessing(data)
trimmed_data = data.drop(["Unnamed: 0"],axis=1)
train_data,test_data = train_test_split(trimmed_data,test_size=0.3)

In [6]:
train_y = np.array(train_data["Survived"])
test_y = np.array(test_data["Survived"])

In [7]:
train_X = pd.get_dummies(train_data.drop(labels=["Survived"],axis=1))
test_X = pd.get_dummies(test_data.drop(labels=["Survived"],axis=1))

In [8]:
train_X.head()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Mr,Mrs,Miss,Master,...,Cabin_F G63,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_G6,Cabin_T,Embarked_C,Embarked_Q,Embarked_S
330,331,3,20.0,2,0,23.2500,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
344,345,2,36.0,0,0,13.0000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
371,372,3,18.0,1,0,6.4958,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
62,63,1,45.0,1,0,83.4750,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
493,494,1,71.0,0,0,49.5042,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

### Scale data

In [9]:
from sklearn.preprocessing import StandardScaler

In [10]:
### Scale the data
def scale_data(data):
    age_array = np.array(data)[:,np.newaxis]
    age_scaler = StandardScaler().fit(age_array)
    scaled_age = age_scaler.transform(age_array)[:,0]
    return scaled_age

In [11]:
train_X["Age"] = scale_data(train_X["Age"])
train_X["Fare"] = scale_data(train_X["Fare"])

In [12]:
test_X["Age"] = scale_data(test_X["Age"])
test_X["Fare"] = scale_data(test_X["Fare"])

In [13]:
train_X.head()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Mr,Mrs,Miss,Master,...,Cabin_F G63,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_G6,Cabin_T,Embarked_C,Embarked_Q,Embarked_S
330,331,3,-0.722443,2,0,-0.187432,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
344,345,2,0.429367,0,0,-0.393344,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
371,372,3,-0.866419,1,0,-0.524007,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
62,63,1,1.077260,1,0,1.022425,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
493,494,1,2.948952,0,0,0.339987,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [14]:
test_X.head()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Mr,Mrs,Miss,Master,...,Cabin_E68,Cabin_E77,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F4,Cabin_G6,Embarked_C,Embarked_Q,Embarked_S
112,113,3,-0.500801,0,0,-0.471351,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10,11,3,-1.901302,1,1,-0.296217,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
704,705,3,-0.189579,1,0,-0.475315,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
483,484,3,2.689229,0,0,-0.440222,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
519,520,3,0.277255,0,0,-0.474473,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

### Build models

In [15]:
#Since this is a classification task, we use logistic regression, FDA, naive bayes, classification tree, SVM and neural network as our models

from sklearn.linear_model import LogisticRegression
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier

from sklearn.model_selection import cross_val_score

### Logistic Regression

In [16]:
LR = LogisticRegression()
LR.fit(train_X,train_y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [17]:
LR_CV_score_train = cross_val_score(LR,train_X,train_y,cv=10)
LR_CV_score_test = cross_val_score(LR,test_X,test_y,cv=10)

In [18]:
print(LR_CV_score_train.mean(),LR_CV_score_test.mean())

0.8297699052739373 0.739031339031339

In [19]:
LR_predict_y = LR.predict(test_X)

ValueError: X has 575 features per sample; expecting 1265

In [20]:
LR_error_rate = np.sum((abs(test_y-LR_predict_y)))/LR_predict_y.shape[0]

NameError: name 'LR_predict_y' is not defined

### Linear Discriminant Analysis

In [ ]:
LDA = LinearDiscriminantAnalysis()
LDA.fit(train_X,train_y)

In [ ]:
LDA_CV_score = cross_val_score(LDA,train_X,train_y,cv=10)

In [ ]:
LDA_predict_y = LDA.predict(test_X)

In [ ]:
LDA_error_rate = np.sum((abs(test_y-LDA_predict_y)))/LDA_predict_y.shape[0]

### Naive Bayes

In [ ]:
NB = GaussianNB()
NB.fit(train_X,train_y)

In [ ]:
NB_CV_score = cross_val_score(NB,train_X,train_y,cv=10)

In [ ]:
NB_predict_y = NB.predict(test_X)

In [ ]:
NB_error_rate = np.sum((abs(test_y-NB_predict_y)))/NB_predict_y.shape[0]

### Decition Tree Classifier

In [ ]:
DTC = DecisionTreeClassifier()
DTC.fit(train_X,train_y)

In [ ]:
DTC_CV_score = cross_val_score(DTC,train_X,train_y,cv=10)

In [ ]:
DTC_predict_y = DTC.predict(test_X)

In [ ]:
DTC_error_rate = np.sum((abs(test_y-DTC_predict_y)))/DTC_predict_y.shape[0]

### Support Vector Classifier

In [ ]:
SVM_classfier = SVC()
SVM_classfier.fit(train_X,train_y)

In [ ]:
SVM_CV_score = cross_val_score(SVM_classfier,train_X,train_y,cv=10)

In [ ]:
SVM_predict_y = SVM_classfier.predict(test_X)

In [ ]:
SVM_error_rate = np.sum((abs(test_y-SVM_predict_y)))/SVM_predict_y.shape[0]

### Neural Network

In [ ]:
NN = MLPClassifier(hidden_layer_sizes=(64))
NN.fit(train_X,train_y)

In [ ]:
NN_CV_score = cross_val_score(NN,train_X,train_y,cv=10)

In [ ]:
NN_predict_y = NN.predict(test_X)

In [ ]:
NN_error_rate = np.sum((abs(test_y-NN_predict_y)))/NN_predict_y.shape[0]

### Model Comparsion

In [ ]:
def draw_comparison(model_names,model_errors,title="Model Error Comparsion",y_range=(0,1)):
    print("Model names: ",model_names)
    print("Model errors: ",model_errors)
    plt.bar(model_names,model_errors)
    plt.ylim(y_range)
    plt.title(title)

model_names = ["LR","LDA","GaussianNB","DTC","SVM","NN"]
model_errors = [LR_error_rate,LDA_error_rate,NB_error_rate,DTC_error_rate,SVM_error_rate,NN_error_rate]

draw_comparison(model_names,model_errors)

### Cross Validation

In [ ]:
CV_meanscore_list = [LR_CV_score.mean(),LDA_CV_score.mean(),NB_CV_score.mean(),DTC_CV_score.mean(),SVM_CV_score.mean(),NN_CV_score.mean()]

In [ ]:
draw_comparison(model_names,CV_meanscore_list,title="CV Score Comparsion")

### Submission

In [ ]:
submit_data = pd.read_csv("test_AgeFilled.csv")

In [ ]:
submit_data.head()

In [ ]:
trimmed_submit_data = submit_data.drop(labels=["Name","Ticket","Cabin","PassengerId","Unnamed: 0"],axis=1)

In [ ]:
trimmed_submit_data = pd.get_dummies(trimmed_submit_data)

In [ ]:
trimmed_submit_data["Age"] = scale_data(trimmed_submit_data["Age"])
trimmed_submit_data["Fare"] = scale_data(trimmed_submit_data["Fare"])

In [ ]:
submit_X = trimmed_submit_data
submit_X = pd.get_dummies(submit_X)
submit_X.head()

In [ ]:
submit_X.info()

## Who the fuck didn't pay his fare [Smile][Smile]

In [ ]:
submit_X = submit_X.fillna(32.204208)

In [ ]:
submit_X.info()

In [ ]:
submit_result = NN.predict(submit_X)

In [ ]:
survive = pd.DataFrame(np.array(submit_result,dtype="int"),columns=["Survived"])

In [ ]:
submit = pd.concat([submit_data["PassengerId"],survive],axis=1)

In [ ]:
submit.head()

In [ ]:
submit.to_csv("Submission.csv",index=False)